basic_pitch==0.2.0
librosa==0.8.1
matplotlib==3.5.2
music21==8.1.0
numpy==1.21.5
pandas==1.4.4
pretty_midi==0.2.9
PyAudio==0.2.13
soundfile==0.12.1
spotdl==4.1.8
torch==2.0.0
torchaudio==2.0.1
tqdm==4.64.1
